{% load static %}

<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type ="text/css" href="{% static 'polls/style.css' %}">
    <meta charset="utf-8">
    <title></title>
  <script>
    (function() {
      var websocket = new WebSocket('ws://' + window.location.host + '/ws/');
      websocket.onmessage = function(e) {
          var data = JSON.parse(e.data);
          if(data['reload_page']){
              location.reload();
          }
      };
    })();
    </script>
  </head>
  <body>
      <header>
        <nav>
          <menu>
            <li><a href="{%url 'companies_list' %}">Companies list</a></li>
            <li><a href="{%url 'worker_list'%}">Worker list</a></li>
            {%block menu%}{%endblock%}
          </menu>
        </nav>
      </header>
      <main>
        {%block content%}
        {%endblock%}
      </main>
  </body>
  
</html>